@import "../variables";
@import "../untils/functions";

.logo{
  font-size: px-to-rem(32px);
  font-family: "Ralway",sans-serif;
  padding-top: px-to-rem(29px);
  padding-bottom: px-to-rem(16px);
  font-weight: 300;
  display: inline-block;
  color: $base-color;
  text-decoration: none;

}