@use "sass:map";

$base-font-size: 16px;


$font-color: rgba(0, 0, 0, 1);
$secondary-black-color:rgba(19, 37, 59, 1);
$btn-color:rgba(255, 255, 255, 1);
$base-color:rgba(8, 166, 228, 1);
$secondary-blue-color: rgba(7, 172, 230, 1);
$color-blue-shadow:rgba(7, 172, 230, 0.16);
$red-color:rgba(251, 59, 100, 1);
$secondary-red-color:rgba(235, 71, 110, 1);
$red-color-shadow:rgba(249, 4, 54, 0.16);
$green-color:rgba(85, 223, 180, 1);
$green-shadow: #CCF5E8;
$grey-color:rgba(247, 247, 247, 1);
$light-grey-color:rgba(232, 233, 237, 1);
$grey-color-copy:rgba(165, 165, 165, 1)
